/* REGISTER STYLESHEETS */
.container {
    width: 100vw;
    height: 100vh;
    /* background: url(); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
}

.form__title {
    font-size: 24px;
    font-weight: 300;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.form__input {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}

.form__agreement {
    font-size: 12px;
    margin: 20px 0px;
}

.form__btn {
    width: 40%;
    border: none;
    padding:  15px 20px;
    background-color: var(--color-purple);
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
}

.form__btn:hover {
    background-color: var(--color-bg-variant);
    color: var(--color-black);
}

/* MEDIA QUERIES (SMALL MOBILE DEVICES) */
@media screen  and (max-width: 380px){ 
    .wrapper {
        width: 80%;
    }
}