.footer__container {
    display: flex;
    padding: 10px 20px;
    gap: 30px;
}

/* FOOTER LEFT STYLES */
.footer__left {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.logo {
    font-weight: bolder
    ;
} 

.footer__desc {
    margin: 20px0px;
}

.footer__social-container {
    display: flex;
}

.footer__social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER CENTER STYLES */
.footer__center {
    flex: 1;
}
.icon {
    z-index: 3;
}

.footer__title {
    margin-bottom: 30px;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer__list-item {
    width: 50%;
    margin-bottom: 10px;
} 


/* FOOTER RIGHT STYLES */
.footer__right {
    flex: 1;
    padding: 20px;
}

.footer__contact-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer-right >.footer__contact-item > img {
    width: 100%;
}