* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #ffb133;
    --color-bg-variant:  #ffc533;
    --color-primary: #4db5ff;
    --color-white: #fff;
    --color-black: #000;
    --color-purple: #800080;

    --color-btn-gray: gray;
    
    --transition: all 0.5s ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Urbanist', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-black);
    line-height: 1.7;
}